.multi_column__border--single {
  margin-bottom: 15px;
}
.multi_column__border--single a:hover {
  text-decoration: none;
}
.multi_column__border--single.w-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.multi_column__border--single.w-shadow {
  border: 1px solid rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
       box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.multi_column__border--single .padding-horz {
  padding: 0 12px;
}
.multi_column__border--single--bg {
  background-color: rgba(182, 71, 53, 0.15);
}
.multi_column__border--single p {
  color: #333333;
}
.multi_column__border--single .bg-cover-container.circle_mask {
  -moz-border-radius: 50%;
       border-radius: 50%;
  width: 200px;
  margin: 20px auto 0;
}
