<!-- Block which is repeated -->
<div class="col-sm-4">
  <div style="height:220px;">
    <a href="http://ajency.in" title="Delhi">
      <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
    </a>
  </div>
  <div class="h3">
    <a href="http://ajency.in" title="Delhi">Delhi</a>
  </div>
  <p>Delhi has a rich history that is known for its colonial grandeur and timeless Mughal architecture.</p>
</div>

<div class="col-sm-4">
  <div style="height:220px;">
    <a href="http://ajency.in" title="Andhra Pradesh">
      <div class="bg-cover-container" title="Andhra Pradesh" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/975/c9f544d3225429b76a9f55741121d4da/list_grid/Hyderabad.jpg?1519399586);"></div>
    </a>
  </div>
  <div class="h3">
    <a href="http://ajency.in" title="Andhra Pradesh">Andhra Pradesh</a>
  </div>
  <p>Andhra Pradesh in Peninsular India is a state that is culturally alive and visually beautiful.</p>
</div>

<div class="col-sm-4">
  <div style="height:220px;">
    <a href="http://ajency.in" title="Karnataka">
      <div class="bg-cover-container" title="Karnataka" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/977/0699a48fd556898b37832e01f21d19c9/list_grid/Hampi03.jpg?1519394541);"></div>
    </a>
  </div>
  <div class="h3">
    <a href="http://ajency.in" title="Karnataka">Karnataka</a>
  </div>
  <p>‘One State, Many Worlds’ is a pretty apt way to describe this South Western state of India.</p>
</div>