<!-- Block which is repeated -->
<div class="col-sm-4">
	<div class="n_column__statistics--style">
	    <div class="h1">
	        <a href="http://ajency.in" title="94%" target="_blank">94%</a>
	    </div>
	    <div class="separator"></div>
	    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>
<div class="col-sm-4">
	<div class="n_column__statistics--style">
	    <div class="h1">
	        <a href="http://ajency.in" title="94%" target="_blank">87%</a>
	    </div>
	    <div class="separator"></div>
	    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>
<div class="col-sm-4">
	<div class="n_column__statistics--style">
	    <div class="h1">
	        <a href="http://ajency.in" title="94%" target="_blank">759</a>
	    </div>
	    <div class="separator"></div>
	    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>