<!-- Block which is repeated -->
<div class="col-sm-4">
	<div class="multi_column__minimal--single">
	  <div class="">
	    <i class="fa fa-phone"></i>
	  </div>
	  <div class="h3">
	    <a href="http://ajency.in" title="24x7 Helpline">24x7 Helpline</a>
	  </div>
	  <div class="hr"></div>
	  <p>Our helpline is available any day of the week at any time to help you with any problems you may have.</p>
	</div>
</div>
<div class="col-sm-4">
	<div class="multi_column__minimal--single">
	  <div class="">
	    <i class="fa fa-comment-o"></i>
	  </div>
	  <div class="h3">
	    <a href="http://ajency.in" title="Live Support">Live Support</a>
	  </div>
	  <div class="hr"></div>
	  <p>Chat with one of our representatives for online assistance and troubleshooting.</p>
	</div>
</div>
<div class="col-sm-4">
	<div class="multi_column__minimal--single">
	  <div class="">
	    <i class="fa fa-star-o"></i>
	  </div>
	  <div class="h3">
	    <a href="http://ajency.in" title="Professional Service">Professional Service</a>
	  </div>
	  <div class="hr"></div>
	  <p>Our support staff is highly trained and ready to assist you with any issue with our product.</p>
	</div>
</div>