<!-- Style one -->
<div class="col-sm-4">
  <div class="multi_column__border--single w-shadow">
    <a href="http://ajency.in" title="Delhi">
      <div style="height:220px;">
        <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
      </div>
      <div class="padding-horz text-left">
          <div class="h3">Delhi</div>
          <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__border--single w-shadow">
    <a href="http://ajency.in" title="Andhra Pradesh">
      <div style="height:220px;">
        <div class="bg-cover-container" title="Andhra Pradesh" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/975/c9f544d3225429b76a9f55741121d4da/list_grid/Hyderabad.jpg?1519399586);"></div>
      </div>
      <div class="padding-horz text-left">
          <div class="h3">Andhra Pradesh</div>
          <p>Andhra Pradesh in Peninsular India is a state that is culturally alive and visually beautiful.</p>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__border--single w-shadow">
    <a href="http://ajency.in" title="Karnataka">
      <div style="height:220px;">
        <div class="bg-cover-container" title="Karnataka" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/977/0699a48fd556898b37832e01f21d19c9/list_grid/Hampi03.jpg?1519394541);"></div>
      </div>
      <div class="padding-horz text-left">
          <div class="h3">Karnataka</div>
          <p>‘One State, Many Worlds’ is a pretty apt way to describe this South Western state of India.</p>
      </div>
    </a>
  </div>
</div>

<!-- Style two -->
<div class="col-sm-4">
  <div class="multi_column__border--single w-border">
    <a href="http://ajency.in" title="Delhi">
      <div style="height:220px;">
        <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
      </div>
      <div class="padding-horz">
          <div class="h3">Delhi</div>
          <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__border--single w-border">
    <a href="http://ajency.in" title="Andhra Pradesh">
      <div style="height:220px;">
        <div class="bg-cover-container" title="Andhra Pradesh" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/975/c9f544d3225429b76a9f55741121d4da/list_grid/Hyderabad.jpg?1519399586);"></div>
      </div>
      <div class="padding-horz">
          <div class="h3">Andhra Pradesh</div>
          <p>Andhra Pradesh in Peninsular India is a state that is culturally alive and visually beautiful.</p>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__border--single w-border">
    <a href="http://ajency.in" title="Karnataka">
      <div style="height:220px;">
        <div class="bg-cover-container" title="Karnataka" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/977/0699a48fd556898b37832e01f21d19c9/list_grid/Hampi03.jpg?1519394541);"></div>
      </div>
      <div class="padding-horz">
          <div class="h3">Karnataka</div>
          <p>‘One State, Many Worlds’ is a pretty apt way to describe this South Western state of India.</p>
      </div>
    </a>
  </div>
</div>

<!-- Style three -->
<div class="col-sm-4">
  <div class="multi_column__border--single w-shadow">
    <a href="http://ajency.in" title="Michael Flynn">
      <div style="height:200px;">
        <div class="bg-cover-container circle_mask" title="Michael Flynn" style="background-image:url(https://hb-themes.com/themes/highend_wp/wp-content/uploads/2014/04/michael-350x350.jpg);"></div>
      </div>
      <div class="padding-horz">
          <div class="h3">Michael Flynn</div>
          <p>He started his career with a 17-year stint at Leo Burnett where he oversaw media for clients United Airlines</p>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__border--single w-shadow">
    <a href="http://ajency.in" title="Priscilla Ballesteros">
      <div style="height:200px;">
        <div class="bg-cover-container circle_mask" title="Priscilla Ballesteros" style="background-image:url(https://hb-themes.com/themes/highend_wp/wp-content/uploads/2014/04/priscilla-350x350.jpg);"></div>
      </div>
      <div class="padding-horz">
          <div class="h3">Priscilla Ballesteros</div>
          <p>Responsible for developing and executing HR strategy in support of business plan and strategic direction.</p>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__border--single w-shadow">
    <a href="http://ajency.in" title="Victoria Dougherty">
      <div style="height:200px;">
        <div class="bg-cover-container circle_mask" title="Victoria Dougherty" style="background-image:url(https://hb-themes.com/themes/highend_wp/wp-content/uploads/2014/04/victoria-350x350.jpg);"></div>
      </div>
      <div class="padding-horz">
          <div class="h3">Victoria Dougherty</div>
          <p>Responsible for elevating customers’ technology expertise and capabilities through training and best practices.</p>
      </div>
    </a>
  </div>
</div>