<!-- Block which is repeated -->
<div class="col-sm-4">
  <div class="n_column__basic--style">
      <div style="height:220px;">
          <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
          </a>
      </div>
      <div class="padding-horz text-left">
          <div class="h3">
              <a href="http://ajency.in" title="Delhi" target="_blank">Delhi</a>
          </div>
          <div class="separator"></div>
          <p>Delhi has a rich history that is known for its colonial grandeur and timeless Mughal architecture.</p>
      </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="n_column__basic--style">
      <div style="height:220px;">
          <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
          </a>
      </div>
      <div class="padding-horz text-center">
          <div class="h3">
              <a href="http://ajency.in" title="Delhi" target="_blank">Delhi</a>
          </div>
          <div class=""></div>
          <p>Delhi has a rich history that is known for its colonial grandeur and timeless Mughal architecture.</p>
      </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="n_column__basic--style">
      <div style="height:220px;">
          <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
          </a>
      </div>
      <div class="padding-horz text-center">
          <div class="h3">
              <a href="http://ajency.in" title="Delhi" target="_blank">Delhi</a>
          </div>
          <div class=""></div>
          <p>Delhi has a rich history that is known for its colonial grandeur and timeless Mughal architecture.</p>
      </div>
  </div>
</div>