<!-- Block which is repeated -->
<div class="col-sm-4">
  <div style="height:220px;">
    <a href="http://ajency.in" title="Residential">
      <div class="bg-cover-container" title="Residential" style="background-image:url(http://d1j3wd17d78ehn.cloudfront.net/system/images/000/134/149/f35af58551c3ae9942228620ea57dc1d/list_grid/Fireflies__1_.jpg);"></div>
    </a>
  </div>
  <div class="h3">
    <a href="http://ajency.in" title="Residential">Residential</a>
  </div>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
</div>