<!-- Style one -->
<div class="col-sm-4">
  <div class="n_column__borders--style with-border">
    <div style="height:200px;">
          <div class="bg-cover-container square-mask" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
    </div>
    <div class="padding-horz text-left">
        <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="h3">Delhi</div>
        </a>
        <div class=""></div>
        <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="n_column__borders--style with-border">
    <div style="height:200px;">
          <div class="bg-cover-container square-mask" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
    </div>
    <div class="padding-horz text-left">
        <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="h3">Delhi</div>
        </a>
        <div class=""></div>
        <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
    </div>
  </div>
</div><div class="col-sm-4">
  <div class="n_column__borders--style with-border">
    <div style="height:200px;">
          <div class="bg-cover-container square-mask" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
    </div>
    <div class="padding-horz text-left">
        <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="h3">Delhi</div>
        </a>
        <div class=""></div>
        <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
    </div>
  </div>
</div>

<!-- Style two -->
<div class="col-sm-4">
  <div class="n_column__borders--style with-shadow">
    <div style="height:200px;">
          <div class="bg-cover-container circle-mask" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
    </div>
    <div class="padding-horz text-center">
        <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="h3">Delhi</div>
        </a>
        <div class="separator"></div>
        <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="n_column__borders--style with-shadow">
    <div style="height:200px;">
          <div class="bg-cover-container circle-mask" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
    </div>
    <div class="padding-horz text-center">
        <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="h3">Delhi</div>
        </a>
        <div class="separator"></div>
        <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
    </div>
  </div>
</div><div class="col-sm-4">
  <div class="n_column__borders--style with-shadow">
    <div style="height:200px;">
          <div class="bg-cover-container circle-mask" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
    </div>
    <div class="padding-horz text-center">
        <a href="http://ajency.in" title="Delhi" target="_blank">
          <div class="h3">Delhi</div>
        </a>
        <div class="separator"></div>
        <p>Delhi has a rich history that is known for its colonial grandeur and timeless architecture.</p>
    </div>
  </div>
</div>

