<div class="col-sm-4">
    <div class="multi_column__border--single w-shadow">
      <a href="http://ajency.in" title="Residential">
        <div style="height:220px;">
          <div class="bg-cover-container" title="Residential" style="background-image:url(http://d1j3wd17d78ehn.cloudfront.net/system/images/000/134/149/f35af58551c3ae9942228620ea57dc1d/list_grid/Fireflies__1_.jpg);"></div>
        </div>
        <div class="padding-horz text-left">
            <div class="h3">Residential</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
        </div>
      </a>
    </div>
  </div>

<div class="col-sm-4">
    <div class="multi_column__border--single w-border">
      <a href="http://ajency.in" title="Residential">
        <div style="height:220px;">
          <div class="bg-cover-container" title="Residential" style="background-image:url(http://d1j3wd17d78ehn.cloudfront.net/system/images/000/134/149/f35af58551c3ae9942228620ea57dc1d/list_grid/Fireflies__1_.jpg);"></div>
        </div>
        <div class="padding-horz">
            <div class="h3">Residential</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
        </div>
      </a>
    </div>
</div>

<div class="col-sm-4">
    <div class="multi_column__border--single w-shadow">
      <a href="http://ajency.in" title="Residential">
        <div style="height:200px;">
          <div class="bg-cover-container circle_mask" title="Residential" style="background-image:url(http://d1j3wd17d78ehn.cloudfront.net/system/images/000/134/149/f35af58551c3ae9942228620ea57dc1d/list_grid/Fireflies__1_.jpg);"></div>
        </div>
        <div class="padding-horz">
            <div class="h3">Residential</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
        </div>
      </a>
    </div>
</div>