<!-- Style one -->
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Delhi">
      <div style="height:220px;" class="overlay-wrapper">
        <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
        <div class="overlay-content padding-horz">
          <div class="h3">Delhi</div>
          <p>Delhi has a rich history that is known for its colonial grandeur and timeless Mughal architecture.</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Andhra Pradesh">
      <div style="height:220px;" class="overlay-wrapper">
        <div class="bg-cover-container" title="Andhra Pradesh" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/975/c9f544d3225429b76a9f55741121d4da/list_grid/Hyderabad.jpg?1519399586);"></div>
        <div class="overlay-content padding-horz">
          <div class="h3">Andhra Pradesh</div>
          <p>Andhra Pradesh in Peninsular India is a state that is culturally alive and visually beautiful.</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Karnataka">
      <div style="height:220px;" class="overlay-wrapper">
        <div class="bg-cover-container" title="Karnataka" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/977/0699a48fd556898b37832e01f21d19c9/list_grid/Hampi03.jpg?1519394541);"></div>
        <div class="overlay-content padding-horz">
          <div class="h3">Karnataka</div>
          <p>‘One State, Many Worlds’ is a pretty apt way to describe this South Western state of India.</p>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Style two -->
<!-- <div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Max Mac Man">
      <div style="height:280px;" class="overlay-wrapper">
        <div class="bg-cover-container" title="Max Mac Man" style="background-image:url(https://kriesi.at/themes/enfold-2017/files/2017/02/people-3.jpg);"></div>
        <div class="overlay-content not-full-w">
          <div class="h3">Max Mac Man</div>
          <p>He started his career with a 17-year stint at Leo Burnett where he oversaw media for clients United Airlines</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Kara Kul King">
      <div style="height:280px;" class="overlay-wrapper">
        <div class="bg-cover-container" title="Kara Kul King" style="background-image:url(https://kriesi.at/themes/enfold-2017/files/2017/02/people-4.jpg);"></div>
        <div class="overlay-content not-full-w">
          <div class="h3">Kara Kul King</div>
          <p>Responsible for developing and executing HR strategy in support of business plan and strategic direction.</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Sandra sounders">
      <div style="height:280px;" class="overlay-wrapper">
        <div class="bg-cover-container" title="Sandra sounders" style="background-image:url(https://kriesi.at/themes/enfold-2017/files/2017/02/people-2.jpg);"></div>
        <div class="overlay-content not-full-w">
          <div class="h3">Sandra Sounders</div>
          <p>Responsible for elevating customers’ technology expertise and capabilities through training and best practices.</p>
        </div>
      </div>
    </a>
  </div>
</div> -->

<!-- Style three -->
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Delhi">
      <div style="height:220px;" class="overlay-wrapper w-flip">
        <div class="bg-cover-container" title="Delhi" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/165/f5b21c55b315afae4d01c5158b75924a/list_grid/india-gate02.jpg?1519395200);"></div>
        <div class="overlay-content">
          <div class="h3">Delhi</div>
          <p>Delhi has a rich history that is known for its colonial grandeur and timeless Mughal architecture.</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Andhra Pradesh">
      <div style="height:220px;" class="overlay-wrapper w-flip">
        <div class="bg-cover-container" title="Andhra Pradesh" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/975/c9f544d3225429b76a9f55741121d4da/list_grid/Hyderabad.jpg?1519399586);"></div>
        <div class="overlay-content">
          <div class="h3">Andhra Pradesh</div>
          <p>Andhra Pradesh in Peninsular India is a state that is culturally alive and visually beautiful.</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="multi_column__overlay--single">
    <a href="http://ajency.in" title="Karnataka">
      <div style="height:220px;" class="overlay-wrapper w-flip">
        <div class="bg-cover-container" title="Karnataka" style="background-image:url(https://d1j3wd17d78ehn.cloudfront.net/system/images/000/108/977/0699a48fd556898b37832e01f21d19c9/list_grid/Hampi03.jpg?1519394541);"></div>
        <div class="overlay-content">
          <div class="h3">Karnataka</div>
          <p>‘One State, Many Worlds’ is a pretty apt way to describe this South Western state of India.</p>
        </div>
      </div>
    </a>
  </div>
</div>