<!-- Block which is repeated -->
<div class="col-sm-4">
	<div class="multi_column__stats--single">
	  <div class="h1" >
	    94%
	  </div>
	  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>
<div class="col-sm-4">
	<div class="multi_column__stats--single">
	  <div class="h1" >
	    87%
	  </div>
	  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>
<div class="col-sm-4">
	<div class="multi_column__stats--single">
	  <div class="h1" >
	    4461
	  </div>
	  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>