<!-- Component style -->
<div class="multi_column__overlay row">

	<!-- Section Title if any -->
	<h2 class="section-title-embellishment-star" style="color: #333333">Multi-column overlay layout <span class="decor-line"><em class="star" style="background-color: #333333"><i></i></em></span></h2>

	{{ partial "block_overlay.html" . }}

	<style type="text/css">
.multi_column__overlay--single {
  margin-bottom: 15px;
}
.multi_column__overlay--single .overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.multi_column__overlay--single .overlay-wrapper:hover .overlay-content.overlay-content {
  /* transform: translateY(0); */
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.multi_column__overlay--single .overlay-wrapper .overlay-content {
  position: absolute;
  bottom: -170px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 12px;
  /* transform: translateY(110px); */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}
.multi_column__overlay--single .overlay-wrapper .overlay-content .h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}
.multi_column__overlay--single .overlay-wrapper .overlay-content p {
  color: #333333;
  margin-bottom: 15px;
}
.multi_column__overlay--single .overlay-wrapper .overlay-content.not-full-w {
  background-color: rgba(0, 0, 0, 0.56);
  color: #fff;
  left: 15px;
  right: 15px;
  bottom: -230px;
}
.multi_column__overlay--single .overlay-wrapper .overlay-content.not-full-w p {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .multi_column__overlay--single .overlay-wrapper .overlay-content {
    background-color: rgba(255, 255, 255, 0.68);
  }
  .multi_column__overlay--single .overlay-wrapper .overlay-content.overlay-content {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .multi_column__overlay--single .overlay-wrapper .overlay-content p {
    font-weight: 600;
  }
}

/*Safari transition for flexbox not working*/

::-webkit-full-page-media, _:future, :root .overlay-wrapper:not(.w-flip):hover .overlay-content.overlay-content {
display: block;
}


.multi_column__overlay--single .overlay-wrapper.w-flip {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.multi_column__overlay--single .overlay-wrapper.w-flip .overlay-content {
  top: 0;
  bottom: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 0;
}
.multi_column__overlay--single .overlay-wrapper.w-flip .bg-cover-container {
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.multi_column__overlay--single .overlay-wrapper.w-flip:hover .bg-cover-container {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.multi_column__overlay--single .overlay-wrapper.w-flip:hover .overlay-content {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .multi_column__overlay--single .overlay-wrapper.w-flip .overlay-content {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
  .multi_column__overlay--single .overlay-wrapper.w-flip:hover .bg-cover-container {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}
.multi_column__overlay--single a:hover {
  text-decoration: none;
}




	</style>
</div>