<!-- Component style -->
<div class="n_column__minimal row">

	<!-- Section Title if any -->
  <h2 class="section-title-embellishment-star" style="color: #333333">Multi-column Minimal layout <span class="decor-line"><em class="star" style="background-color: #333333"><i></i></em></span></h2>

  {{ partial "block_minimal.html" . }}

  <style type="text/css">
  	.n_column__minimal--style {
            margin-top: 15px;
    }
    .n_column__minimal--style .fa{
            font-size: 50px;
    }
    .n_column__minimal--style .h3{
            margin-top: 10px;
            margin-bottom: 10px;
    }
    .n_column__minimal--style .separator{
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
    }
    .n_column__minimal--style .separator:before{
          content: " ";
          width: 80%;
          left: 10%;
          border-bottom: 1px solid rgba(0,0,0,0.2);
          position: absolute;
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
        .n_column__minimal{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .n_column__minimal .col-sm-3{
            width: 50%;
        }
    }
  </style>

</div>