<!-- Component style -->
<div class="multi_column__minimal row">

	<!-- Section Title if any -->
  <h2 class="section-title-embellishment-star" style="color: #333333">Multi-column Minimal layout <span class="decor-line"><em class="star" style="background-color: #333333"><i></i></em></span></h2>

  {{ partial "block_minimal.html" . }}

  <style type="text/css">
  	.multi_column__minimal--single {
      margin-top: 15px;
    }
    .multi_column__minimal--single .fa {
      font-size: 50px;
    }
    .multi_column__minimal--single .h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .multi_column__minimal--single .hr {
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
    }
    .multi_column__minimal--single .hr:before {
      content: " ";
      width: 80%;
      left: 10%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      position: absolute;
    }
  </style>

</div>