.multi_column__overlay--single{
	margin-bottom: 15px;
	.overlay-wrapper{
		position: relative;
		overflow: hidden;
		&:hover{
			.overlay-content.overlay-content{
				/* transform: translateY(0); */
				bottom: 0;
				display: flex;
			    align-items: center;
			    flex-direction: column;
			    justify-content: center;
			}
		}

		.overlay-content{
			position: absolute;
			bottom: -170px;
			left: 0;
			right: 0;
			background-color: rgba(255, 255, 255, 0.8);
			padding: 0 12px;
			/* transform: translateY(110px); */
			transition: all 0.5s ease;
			transform-style: preserve-3d;
			height: 100%;

			.h3{
				margin-top: 15px;
				margin-bottom: 10px;
			}

			p{
				color: #333333;
				margin-bottom: 15px;
				width: 100%;
			}

			&.not-full-w{
				background-color: rgba(0, 0, 0, 0.56);
				color: #fff;
				left: 15px;
				right: 15px;
				bottom: -230px;
				p{
					color: #fff;
				}
				&:hover{

				}
			}
		}
		@media screen and (max-width: 767px){
			.overlay-content{
			    background-color: rgba(255, 255, 255, 0.68);
			    &.overlay-content{
					bottom: 0;
					display: flex;
				    align-items: center;
				    flex-direction: column;
				    justify-content: center;
			    }
			    p{
			    	font-weight: 600;
			    }	
			}
		}
		@media screen and (min-width: 768px){
			// Safari flexbox for transition issue
			::-webkit-full-page-media, _:future, :root .overlay-wrapper:hover .overlay-content.overlay-content {
				display: block;
			 }
		}
		&.w-flip{
			perspective: 2000px;
			.overlay-content{
				top: 0;
				bottom: 0;
				transform: rotateY(180deg);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				transition: all .5s cubic-bezier(.645,.045,.355,1);
				transform-style: preserve-3d;
				opacity: 0;
			}
			.bg-cover-container{
				transition: all .5s cubic-bezier(.645,.045,.355,1);
				transform-style: preserve-3d;
				transform: rotateY(0);
			}
			&:hover{
				.bg-cover-container{
					transform: rotateY(-180deg);
				}
				.overlay-content{
					transform: rotateY(0);
					opacity: 1;
				}
			}
			@media screen and (max-width: 767px){
				.overlay-content{
					transform: rotateY(0);
					opacity: 1;
				}
				&:hover{
					.bg-cover-container{
						transform: rotateY(0);
					}
				}
			}
		}


	}

	a:hover{
	  text-decoration: none;
	}
}